// fonts
@import 'fonts';

// resets / normalizest
@import 'reboot';

// Class color
.color-red {
  color: #D0021B;
}

.color-green {
  color: #00A44C;
}

.color-amber {
  color: #FF9800;
}

.color-silver {
  color: #F7F8F9;
}

.color-black-80 {
  color: #333333;
}

.color-black-44 {
  color: #8F8F8F;
}

.color-black-20 {
  color: #CECECE;
}

.color-black-8 {
  color: #EAEAEA;
}

.color-black-3 {
  color: #F7F8F9;
}

.color-cool-grey {
  color: #F6F7FB;
}

// Class background
.background-red {
  background: #D0021B;
}

.background-green {
  background: #00A44C;
}

.background-amber {
  background: #FF9800;
}

.background-silver {
  background: #F7F8F9;
}

.background-black-80 {
  background: #333333;
}

.background-black-44 {
  background: #8F8F8F;
}

.background-black-20 {
  background: #CECECE;
}

.background-black-8 {
  background: #EAEAEA;
}

.background-black-3 {
  background: #F7F8F9;
}

.background-cool-grey {
  background: #F6F7FB;
}


