{
  "presets": ["react", "env"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-react-display-name",
    ["babel-plugin-styled-components", {
      "ssr": true
    }]]
}